{% extends 'base.html.twig' %}

{% block title %}Hello CourseController!{% endblock %}

{% block body %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<div id="course-container">
    <h1>Votre course</h1>
    
    <div class="course_div">
        <div id="panier">
            <h3>Panier</h3>
            <div id="panier_info">
                {% if prix %}
                    <p>total de la course: {{ prix }}</p>
                {% else %}
                <p>erreur</p>
                {% endif %}
            </div>
        </div>
        <div id="course_form">
            {{ form_start(courseForm, {'action': path('app_new_course'), 'method': 'POST'}) }}
            {{ form_widget(courseForm._token)}}
            <input type="hidden" id="startLat" name="startLat">
            <input type="hidden" id="startLng" name="startLng">
            <input type="hidden" id="endLat" name="endLat">
            <input type="hidden" id="endLng" name="endLng">
            <input type="hidden" id="clientTarif" name="clientTarif">
            <input type="hidden" id="clientDuration" name="clientDuration">
            <input type="hidden" id="clientDistance" name="clientDistance">
            
            <div class="form-group">
                {% if startAddress %}   
                    {{ form_row(courseForm.adresseDepart, {'attr': { 'value': startAddress, 'id': 'startAddress' }}) }}
                {% else %}
                    {{ form_row(courseForm.adresseDepart) }}
                {% endif %} 
            </div>
            <div class="form-group">
                {% if endAddress %}   
                {{ form_row(courseForm.adresseArivee, {'attr': { 'value': endAddress, 'id': 'endAddress' }}) }}
                {% else %}
                {{ form_row(courseForm.adresseArivee) }}
                 {% endif %} 
            </div>
            <div class="form-group">
                {{ form_row(courseForm.dateDepart, {'attr': { 'id': 'dateDepart' }}) }}
            </div>
            <div class="form-group">
                {{ form_row(courseForm.vehicule, {'attr': { 'id': 'vehicule' }}) }}
            </div>
            <div class="form-group">
                {{ form_row(courseForm.nbPassager, {'attr': { 'id': 'nbPassager' }}) }}
                
            </div>
            {# <div class"form-group">
                <label for="devis">Devis</label>
                <input type="text" name="devis" id="devis">
            </div> #}
            {# <div class="form-group">
                {% if prix %}
                    {{ form_row(courseForm.prix, {'attr': { 'value': prix }}) }}
                    {% else %}
                    <input type="number" name="prix" id="prix">
                {% endif %}
            </div> #}
            {# <div class="form-group">
                {{ form_row(courseForm.utilisateur)}}
            </div> #}
            <div class="form-group">
                {% for chauffeur in chauffeurs %}
                <select name="chauffeur" id="chauffeurId">
                    <option value="{{ chauffeur.id }}">
                        <p>{{ chauffeur.nom }} {{ chauffeur.prenom }}</p>
                    </option>
                </select>
                {% endfor %}
            </select>
            </div>

            <div class="form-group">
                {{ form_row(courseForm.valider,{'attr': { 'id': 'valider', 'class': 'btn' }}) }}
            </div>
           
            {{ form_errors(courseForm)}}
            
            {{ form_end(courseForm, {'render_rest': false}) }}
        </div>
    </div>
</div>




{% endblock %}
