{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<main>
    <section>
<div class="mapAndForm">
    <div class="form-container">

        <form action="{{ path('store_route_data') }}" method="post" onsubmit="return validateForm()">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('store_route_data') }}">
            <div class="form-group">
                <label for="departure">Point de Départ</label>
                <input type="text" id="departure" name="departure" placeholder="Point de Départ">
                <ul id="departure-suggestions"></ul>
                <input type="hidden" id="startLat" name="startLat">
                <input type="hidden" id="startLng" name="startLng">
                <input type="hidden" id="startAddress" name="startAddress">
            </div>
            <div class="form-group">
                <label for="destination">Destination</label>
                <input type="text" id="destination" name="destination" placeholder="Destination">
                <ul id="destination-suggestions"></ul>
                <input type="hidden" id="endLat" name="endLat">
                <input type="hidden" id="endLng" name="endLng">
                <input type="hidden" id="endAddress" name="endAddress">
                
            </div>
            <div class="form-group">
                <label>Choix du Véhicule</label>
                <div class="vehicle-buttons">
                    <button type="button" class="vehicle-btn" data-vehicle="Berline">Berline</button>
                    <button type="button" class="vehicle-btn" data-vehicle="Van">Van</button>
                </div>
                <input type="hidden" name="vehicle" id="selectedVehicle">
                <input type="hidden" id="selected-departure-address" />
                <input type="hidden" id="selected-destination-address" />
            </div>

            <label for="date">Date et heure de depart</label>
            <div class="form-group info-icon-container">
                <input type="datetime-local" id="date" name="date" placeholder="Choisissez la date" class="date-input form-date">
                <span class="info-icon">
                    <i class="fa-solid fa-question icon"></i>
                    <div class="hidden-info">Vous pouvez réserver une course à partir de demain.</div>
                </span>
            </div>
            <div class="form-group">
                <label for="passengers">Nombre de passagers</label>
                <select id="passengers" name="passengers">
                    <option value="" disabled selected>Choisissez</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>
            </div>

            <div class="form-groupe">
                <input type="hidden" id="clientTarif" name="clientTarif">
                <input type="hidden" id="clientDuration" name="clientDuration">
                <input type="hidden" id="clientDistance" name="clientDistance">
            </div>

            <div class="form-group">
                <button id="findChauffeurLink" class="btn" type="submit">Trouver un Chauffeur</button>
            </div>

        </form>
    </div>

    <div id="itinerary" style="display: none;">
        <h3>Details d'itineraire</h3>
        <div id="itinerary-steps"></div>
    </div>

    <div id="map"></div>

</div>
</section>
<section>
<div class="textAndImage">
    <div class="text-block upper">
        <h1>Bienvenue sur STRASVTC</h1>
        <p>

            Bienvenue sur notre site !

            Nous sommes ravis de vous proposer un service unique de réservation de chauffeurs privés, où vous avez le pouvoir de choisir le chauffeur qui vous accompagnera lors de vos trajets. C’est cette flexibilité qui fait toute la différence et ajoute une touche d’originalité à votre expérience avec nous.
            
            Pour garantir un service de qualité, nous vous recommandons de prévoir votre réservation au moins un jour à l’avance.</p>
    </div>
        <div class="text-block lower">
            <p>Nos départs sont principalement basés à Strasbourg et ses environs, allant de Sélestat à Niederbronn-les-Bains. Nous couvrons toutes les destinations, que ce soit en France ou en Europe, avec Strasbourg comme point de départ.
            
                Profitez de la liberté de choisir et voyagez en toute sérénité avec nous ! </p><br>
            
            <p>Besoin d'un transport pour la gare ou l'aéroport ?
                Vous avez un événement à célébrer ou un rendez-vous d'affaires important ?
                Peu importe l'occasion, un chauffeur professionnel et dédié est à votre disposition pour vous accompagner avec confort et style.</p>
        </div>

    <div id="slideShow">
        <div id="splide" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide"><img src="{{asset('/images/chauffeurs/Chauffeur-Driver-Customer-Care-Course-1024x683.jpg')}}" alt="Image thematique de chauffeur VTC" style="width: 100%;"></li>
                    <li class="splide__slide"><img src="{{ asset('/images/chauffeurs/vehicule-chauffeur-conseil-europe-720x480.jpg')}}" alt="Image thematique de chauffeur VTC" style="width: 100%;"></li>
                    <li class="splide__slide"><img src="{{ asset('images/chauffeurs/Mers.jpg')}}" alt="Image thematique de chauffeur VTC" style="width: 100%;"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</section>
<section class="services-section">
    <h1>SERVICES</h1>
    <div class="services-grid">
        <div class="service">
            <a href="#"><img src="{{asset('/images/5698669435-1b639cd0c0-k.jpg')}}" alt="Service Gare"></a>
            <div class="service-text">
                <h3>Service Gare</h3>
                <p>Votre chauffeur pour vos trajets vers les gares.</p>
            </div>
        </div>
        <div class="service">
            <a href="#"><img src="{{asset('/images/aeroport-barcelone-1.jpg')}}" alt="Service Aéroport"></a>
            <div class="service-text">
                <h3>Service Aéroport</h3>
                <p>Navette rapide et confortable pour l'aéroport.</p>
            </div>
        </div>
        <div class="service">
            <a href="#"><img src="{{asset('/images/confettie concert.jpg')}}" alt="Service Événement"></a>
            <div class="service-text">
                <h3>Service Événement</h3>
                <p>Chauffeurs dédiés pour vos événements spéciaux.</p>
            </div>
        </div>
        <div class="service">
            <a href="#"><img src="{{asset('/images/depositphotos_75561547-stock-photo-highrise-buildings.jpg')}}" alt="Service Business"></a>
            <div class="service-text">
                <h3>Service Business</h3>
                <p>Transports professionnels haut de gamme.</p>
            </div>
        </div>
    </div>    
</section>
</main>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('script.js') }}" defer ></script>
<script src ="{{ asset('flashMessages.js')}}"></script>  
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script> 
<script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.min.js"></script> 
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
crossorigin=""></script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        new Splide('#splide',{
            type:'loop',
            perPage:1,
            autoplay:true,
        }).mount();
        const vehicleButtons = document.querySelectorAll('.vehicle-btn');
        const nbPassagerSelect = document.getElementById('passengers');
        const dateDepartInput = document.getElementById('date');

        const nbPassagers = {
            'Van':[1,2,3,4,5,6,7],
            'Berline':[1,2,3,4],
            'Default':[1,2,3,4,5,6,7],
        };
        if (dateDepartInput) {
            const today = new Date();
        
            // Créer une nouvelle date pour définir la date minimale à aujourd'hui + 1 jour
            const tomorrow = new Date(today);
            tomorrow.setDate(today.getDate() + 1);
        
            // Formater la date au format 'YYYY-MM-DDTHH:mm'
            const year = tomorrow.getFullYear();//recupère l'année
            // padStart() pour ajouter un zéro si nécessaire, par exemple 01/09, 02/07, etc.
            const month = String(tomorrow.getMonth() + 1).padStart(2, '0'); // Les mois sont de 0 à 11
            const day = String(tomorrow.getDate()).padStart(2, '0');
            const hours = String(tomorrow.getHours()).padStart(2, '0');
            const minutes = String(tomorrow.getMinutes()).padStart(2, '0');
        
            const minDateTime = `${year}-${month}-${day}T${hours}:${minutes}`;
        
            // Définir la date minimale dans le champ input
            dateDepartInput.setAttribute('min', minDateTime);
        }

        vehicleButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                // recup le type de véhicule
                const vehicule = button.getAttribute('data-vehicle');
    
                // vider la selection actuelle
                nbPassagerSelect.innerHTML = '<option value="" disabled selected>Choisissez</option>';
    
                // recup les options de passagers pour ce type de véhicule
                const options = nbPassagers[vehicule] || nbPassagers['default'];
    
                // remplir le select
                options.forEach(function(option) {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    nbPassagerSelect.appendChild(opt);
                });
    
                // souligne le bouton sélectionné
                vehicleButtons.forEach(btn => btn.classList.remove('selected')); 
                button.classList.add('selected');
            });
        });
    });

    function validateForm() {
        var departure = document.getElementById('departure').value;
        var destination = document.getElementById('destination').value;
        var selectedVehicle = document.querySelector('.vehicle-btn.active');
        var passengers = document.getElementById('passengers').value;

        if (departure === '' || destination === '' || !selectedVehicle || passengers === '') {
            alert('Veuillez remplir tous les champs et sélectionner un véhicule.');
            return false; // Empêche la soumission du formulaire
        }

        return true; // Permet la soumission normale du formulaire
    }

    // Ajoutez un écouteur d'événements pour capturer le clic sur le bouton véhicule
    document.querySelectorAll('.vehicle-btn').forEach(function(button) {
        button.addEventListener('click', function() {
            document.querySelectorAll('.vehicle-btn').forEach(function(btn) {
                btn.classList.remove('active');
            });
            button.classList.add('active');
            const vehicleType = document.getElementById('selectedVehicle').value = button.getAttribute('data-vehicle');
            console.log(vehicleType);
        });
    });
</script>

{% endblock javascripts %}
