{% extends "base.html.twig" %}

{% block title %} Liste Des Chauffeurs {% endblock title %}

{% block body %}
<h3>Choisissez le chauffeur qui vous convient</h3>    


<div class="listChauffeurs">
    {% for chauffeur in chauffeurs %}
        <div class="chauffuerCard">
            <div class="chauffeurCard_image">
                <img src="{{ chauffeur.image }}" alt="image de {{chauffeur.nom}}  {{chauffeur.prenom}}">
            </div>

            <div class="chauffeurCard_infos">
                <h4>{{ chauffeur.nom }} {{chauffeur.prenom}}</h4>
            </div>
            <div id="chauffeurCard_btn">
                <a href="{{ path('app_new_course', {'id':chauffeur.id }) }}">Choisir {{chauffeur.prenom}}</a>
            </div>
        </div>   
    {% endfor %}    
</div>


{% endblock body %}