{% extends 'base.html.twig' %}


{% block title %}Liste des Chauffeurs{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
  <div class="flash-message flash-success">
      {{ message }}
  </div>
{% endfor %}
{% for message in app.flashes('danger') %}
  <div class="flash-message flash-danger">
      {{ message }}
  </div>
{% endfor %}

    <div class="chauffeurs-container">
      <h1 class="header">Liste des Chauffeurs</h1>
      <div class="chauffeurs-content">
          {% for chauffeur in chauffeurs %}
          <div class="chauffeur-card">
              <img src="{{chauffeur.image ? asset('uploads/profilePics/' ~ chauffeur.image) : asset('images/default-avatar-icon-of-social-media-user-vector.jpg') }}" alt="Photo de {{ chauffeur.nom }} {{ chauffeur.prenom }}">
              <h2>{{ chauffeur.nom }} {{ chauffeur.prenom }}</h2>
              <p>Email: {{ chauffeur.utilisateur.email }}</p>
              <a class="btn" href="{{ path('app_chauffeur_info', {'id':chauffeur.id }) }}">Acceder au Profile</a>
          </div>
          {% endfor %}
      </div>
  </div>   
{% endblock %}

