{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
  <div class="flash-message flash-success">
      {{ message }}
  </div>
{% endfor %}
{% for message in app.flashes('danger') %}
  <div class="flash-message flash-danger">
      {{ message }}
  </div>
{% endfor %}

<div class="admin-header">
    <h1>Bienvenue {{user.prenom}}</h1>
</div>

<div class="admin-search-container">
    {% set parameters = ['Id', 'Date', 'Chauffeur','Utilisateur'] %}
    <div class="admin-search-header">
        <h2>Rechercher une Course</h2>
    </div>
    <div class="admin-search-form">
        {% for param in parameters %}
            <form action="{{ path('app_admin_search_course', {'parameter': param|lower}) }}" method="get">
                <label for="prameter-{{ param|lower }}"><strong>Recherch par {{ param }} </strong></label>
                <input type="text" class="input-{{ param|lower }}" name="parameter-{{ param|lower }}" >
                <button type="submit" class="btn adminSearchBtn">Search</button>
            </form>
        {% endfor %}
    </div>
</div>

<div class="admin-buttons">
    <button id="chauffeur-btn" class="btn" onclick="toggleContainer('admin-chauffeur-container')">Créer un Chauffeur</button>
</div>

<div id="admin-chauffeur-container" style="display: none;">
    <div id="chauffeur-form">
        <h2>Créer un Chauffeur</h2>
        {{ form_start(chauffeurForm, {'action': path('app_chauffeur_add'), 'method': 'POST', 'attr': {'enctype': 'multipart/form-data'}}) }}
        {{ form_widget(chauffeurForm._token, {'id': 'chauffeur_form'}) }}

        <div class="form-first-row">
            <div class="form-group">
                {{ form_row(chauffeurForm.nom) }}
            </div>
            <div class="form-group">
                {{ form_row(chauffeurForm.prenom) }}
            </div>
            <div class="form-group">
                <label for="emaom">Email</label>
               <input type="email" name="email" placeholder="Email">
            </div>
        </div>

        <div class="form-second-row">
            <div class="form-group">
                {{ form_row(chauffeurForm.dateNaissance) }}
            </div>
            <div class="form-group">
                {{ form_row(chauffeurForm.sexe) }}
            </div>
            <div class="form-group">
                {{ form_row(chauffeurForm.societe) }}
            </div>
        </div>

        <div class="form-third-row">
            <div class="form-group">
                {{ form_row(chauffeurForm.image) }}
            </div>
        </div>

        <div class="chauffeur-form">
            <h2>Créer un mot de passe pour chauffeur</h2>
            <div class="form-group">
                {{ form_row(chauffeurForm.password) }}
            </div>
            <div class="form-group">
                {{ form_row(chauffeurForm.passwordConfirmation) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_row(chauffeurForm.valider) }}
        </div>

        {{ form_end(chauffeurForm) }}
    </div>
</div>

<script>
function toggleContainer(containerId) {
    var container = document.getElementById(containerId);
    var button = document.getElementById('chauffeur-btn');
    container.style.display = container.style.display === 'none' ? 'block' : 'none';
    button.classList.toggle('active');
}
</script>

{% endblock %}
