<nav>
    <ul class="pagination">
        {# Vérifie s'il y a une page précédente #}
        {% if pagination.previous is defined %}
            <li>
                <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({ (pageParameterName): pagination.previous }) ) }}">Précédent</a>
            </li>
        {% endif %}

        {# Boucle sur les pages dans la plage visible #}
        {% for page in pagination.pagesInRange %}
            <li class="{{ page == pagination.current ? 'active' : '' }}">
                <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({ (pageParameterName): page }) ) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {# Vérifie s'il y a une page suivante #}
        {% if pagination.next is defined %}
            <li>
                <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({ (pageParameterName): pagination.next }) ) }}">Suivant</a>
            </li>
        {% endif %}
    </ul>
</nav>
