<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Devis - {{ course.publicId }}</title>
</head>
<body>

    <h2>Course N°   {{ course.publicId }}</h2>
    <p>Date: {{ course.dateDepart|date('d/m/Y') }}</p>

    <h2>Societe</h2>
    <p>Nom: {{ societe.nom }}</p>
    <p>Adresse: {{ societe.adresse }}</p>

    <h2>User</h2>
    <p>{{ user.nom }} {{user.prenom}}</p>
    <p>{{ user.email }}</p> 
</body>
</html>
